<form [formGroup]="form"
      (submit)="submit(form.value)">
  <mat-card>
    <mat-card-title>
      {{ pageData.title }}
    </mat-card-title>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput
               type="email"
               placeholder="Email"
               [formControl]="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               type="password"
               placeholder="Password"
               [formControl]="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxFlex="row"
                      fxLayoutAlign="flex-end center">
      <button mat-raised-button
              color="primary"
              [disabled]="form.invalid">
        {{ pageData.title }}
      </button>
      <a mat-raised-button
         mat-primary
         [routerLink]="['..',pageData.alternate | lowercase]">{{ pageData.alternate }}</a>
    </mat-card-actions>
  </mat-card>
</form>