<form [formGroup]="form"
      (submit)="onSubmitExpense(form.value)"
      class="container">
  <label for="description">Description</label>
  <input type="text"
         formControlName="description">
  <label for="amount">Amount</label>
  <input type="number"
         formControlName="amount">
  <kab-validation-error [mustShow]="mustShowErrors(form.controls['amount'])"
                        [message]="form.controls['amount'].errors | json">
  </kab-validation-error>
  <label>Category of the expense</label>
  <select name="category"
          formControlName="category">
    <option [value]="">Please select a category</option>
    <option *ngFor="let category of categories"
            [value]="category._id">{{category.name}}</option>
  </select>
  <label for="date">Date</label>
  <input type="date"
         formControlName="date">
  <button type="submit"
          [disabled]="form.invalid">Save</button>
</form>
