<form [formGroup]="form"
      (submit)="onSubmitForecast(form.value)"
      class="container">
  <label for="kind">Kind of prevision</label>
  <input name="kind"
         value="I"
         formControlName="kind"
         type="radio"> + Projected Income:
  <small>Salary, extras</small>
  <br>
  <input name="kind"
         value="O"
         formControlName="kind"
         type="radio"> - Regular Outgoing:
  <small>Mortgage, energy, phone</small>
  <label for="description">Description</label>
  <input type="text"
         formControlName="description">
  <label for="amount">Amount</label>
  <input type="number"
         formControlName="amount">
  <kab-validation-error [mustShow]="mustShowErrors(form.controls['amount'])"
                        [message]="form.controls['amount'].errors | json">
  </kab-validation-error>
  <label for="date">Date</label>
  <input type="date"
         formControlName="date">
  <button type="submit"
          [disabled]="form.invalid">Save</button>
</form>
