<form #forecastForm="ngForm"
      class="container">
  <label for="kind">Kind of prevision</label>
  <input name="kind"
         value="I"
         [(ngModel)]="forecast.kind"
         type="radio"> + Projected Income:
  <small>Salary, extras</small>
  <br>
  <input name="kind"
         value="O"
         [(ngModel)]="forecast.kind"
         type="radio"> - Regular Outgoing:
  <small>Mortgage, energy, phone</small>
  <label for="description">Description</label>
  <input name="description"
         [(ngModel)]="forecast.description"
         required
         #descriptionModel="ngModel"
         type="text" />
  <kab-validation-error [mustShow]="mustShowErrors(descriptionModel)"
                        [message]="descriptionModel.errors | json">
  </kab-validation-error>
  <label for="amount">Amount</label>
  <input name="amount"
         [(ngModel)]="forecast.amount"
         required
         #amountModel="ngModel"
         type="number" />
  <kab-validation-error [mustShow]="mustShowErrors(amountModel)"
                        [message]="amountModel.errors | json">
  </kab-validation-error>
  <button type="submit"
          (click)="onSubmitForecast()"
          [disabled]="forecastForm.invalid">Save</button>
</form>
