<h2>SAVINGS GOAL</h2>
<form [formGroup]="form"
      (submit)="onSubmitGoal(form.value)"
      class="container">
  <label for="goal">Savings Goal</label>
  <input type="number"
         formControlName="goal">
  <kab-validation-error [mustShow]="mustShowErrors(form.controls['goal'])"
                        [message]="form.controls['goal'].errors | json">
  </kab-validation-error>
  <button type="submit"
          (click)="onSubmitGoal()"
          [disabled]="form.invalid">Save</button>
</form>
