<header>
  {{pageData.title}}
</header>
<form #credentialForm="ngForm"
      class="container">
  <label for="email">email</label>
  <input name="email"
         [(ngModel)]="credential.email"
         required
         #emailModel="ngModel"
         type="email" />
  <kab-validation-error [mustShow]="mustShowErrors(emailModel)"
                        [message]="emailModel.errors | json">
  </kab-validation-error>
  <label for="password">password</label>
  <input name="password"
         [(ngModel)]="credential.password"
         required
         #passwordModel="ngModel"
         type="password" />
  <kab-validation-error [mustShow]="mustShowErrors(passwordModel)"
                        [message]="passwordModel.errors | json">
  </kab-validation-error>
  <button type="submit"
          (click)="onSubmitCredential()"
          [disabled]="credentialForm.invalid"
          class="button-primary">{{ pageData.title }}</button>
  <a class="button button-clear"
     [routerLink]="['..',pageData.alternateAction | lowercase]">{{ pageData.alternateAction }}</a>
</form>
