<header>
  {{pageData.title}}
</header>
<form [formGroup]="form"
      (submit)="onSubmitCredential(form.value)"
      class="container">
  <label for="email">email</label>
  <input name="email"
         formControlName="email"
         type="email" />
  <kab-validation-error [mustShow]="mustShowErrors(form.get('email'))"
                        [message]="form.get('email').errors | json">
  </kab-validation-error>
  <label for="password">password</label>
  <input name="password"
         formControlName="password"
         type="password" />
  <kab-validation-error [mustShow]="mustShowErrors(form.get('password'))"
                        [message]="form.get('password').errors | json">
  </kab-validation-error>
  <button type="submit"
          [disabled]="form.invalid"
          class="button-primary">{{ pageData.title }}</button>
  <a class="button button-clear"
     [routerLink]="['..',pageData.alternateAction | lowercase]">{{ pageData.alternateAction }}</a>
</form>
